{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Аккаунт активирован" %}{% endblock %}

{% block content %}
<p class="lead">
    {% trans "Ваш аккаунт активирован." %}
    {% if not user.is_authenticated %}
    {% trans "Вы можете войти" %}
    {% endif %}
</p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
