{% load i18n %}

{% blocktrans %}Приветствую{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Вы получили это письмо, потому что вы (или кто-то делая вид, что это вы)
просил, чтобы ваш пароль сбросился на {{ domain }} сайте. Если вы не
хотите сбросить пароль, пожалуйста, игнорируйте это сообщение.
{% endblocktrans %}

{% blocktrans %}
Чтобы сбросить пароль, пожалуйста, нажмите на следующую ссылку, или скопируйте и вставьте его
в вашем веб-браузере:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

{% blocktrans %}В случае, если вы забыли ваше имя пользователя:{% endblocktrans %} {{ user.username }}


{% blocktrans %}С наилучшими пожеланиями{% endblocktrans %},
{{ site_name }} {% blocktrans %}Управление{% endblocktrans %}


{# This is used by django.contrib.auth #}
