{% extends "base.html" %}




{% block content %}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
	<h1>О нас</h1>
	<p>О насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО нас
	О насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО нас
	О насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО нас</p>
	<p>О насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО нас
	О насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО нас
	О насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО нас</p>
	<p>О насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО нас
	О насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО нас
	О насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО насО нас</p>
</div>
</div>

{% endblock %}